{
    "semi": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^react",
        "^react-native",
        "^expo",
        "^@expo",
        "^@react-navigation",
        "^@/",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
